.banner {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 4px solid rgba(0,0,0,0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;

  .banner-content {
    position: relative;
  }
}
