.banner {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  .banner-content {
    padding: 20px;
  }

  .banner-title {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 0;
  }

  .banner-subtitle {
    font-size: 1.25rem;
    font-weight: normal;
  }
}
