/* app/assets/stylesheets/_form.scss */

.form {
  max-width: 600px;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: $eggshell;

  h4 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .form-select,
  .form-control {
    border-radius: 6px;
    color: white;
  }

  .btn {
    background-color: #40798C;
    color: white;
    border: none;
    border-radius: 8px;
    &:hover {
      background-color: #8ea3aa;
      color: white;
    }
  }
}
